# Домашнее задание 1_Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### 0. Создать датафрейм.

#### 1. Вывести информацию о датафрейме.

#### 2. Вернуть первые 3 строки DataFrame `df`.

#### 3. Выберите только столбцы 'animal' и 'age' из DataFrame `df`.

#### 4. Выберите данные в строках `[3, 4, 8]` * и * в столбцах `['animal', 'age']`.

#### 5. Выберите строки где количество посещений больше 3.

#### 6. Выберите строки, в которых отсутствует возраст.

#### 7. Выберите строки, в которых животное является кошкой * и * возраст составляет менее 3 лет.

#### 8. Выберите строки в которых возраст от 2 до 4 (включительно).

#### 9. Измените возраст в строке 'f' на 1,5.

#### 10. Рассчитать общее количество всех посещений.

#### 11. Расчитайте суммарный возраст животных

#### 12. Добавьте новую строку `k` к `df` со значениями по вашему желанию. Затем удалите ее.

#### 13. Подсчитайте количество животных каждого типа в `df`.

#### 14. Сортируйте `df` сначала по значениям в 'age' в * возрастающем * порядке, затем по значениям в столбце 'visit' в * возрастающем * порядке.

#### 15. В столбце приоритет замените значения на `Yes` и `No`

#### 16. В столбце «animal» измените записи «snake» на «python».

#### 17. Удалите все повторения строк из таблицы
```python
df = pd.DataFrame ({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

#### 20. Предположим, у вас есть DataFrame с 10 столбцами действительных чисел, например:

```python
df = pd.DataFrame (np.random.random (size = (5, 10)), columns = список ('abcdefghij'))
```
#### Какой столбец имеет наименьшую сумму? Найдите метку этого столбца.

#### 21. Замените все пропущенные значения, на среднее по столбцу
```python
df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})
```

#### 22. Создайте два новых столбца, для From и To. Приведите названия городов к нормальному виду.

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```

#### 23. Загрузить свою таблицу данных(из реферата, курсовой, из сайта статистических данных). 

Выполните действия с таблицей:

Загрузите таблицу из файла и сохраните ее в переменную df. Используйте функцию read_

Выведите общую информацию по таблице: число строк и столбцов, типы данных в таблице. 

Есть ли в таблице пропущенные значения?

Если в таблице есть строки с пропущенными значениями, удалите их.

Сохраните изменения в df.

Выведите на экран описательные статистики по всем количественным переменным в таблице. 

Выберите какой-нибудь интересующий вас столбец и проинтерпретируйте описательные статистики по нему (т.е. опишите «обычными» словами, что значат значения типа min, std, 50% и так далее).


Переименуйте какие-нибудь столбцы в таблице (хотя бы один, можно несколько) и сохраните изменения в df.

Добавьте новые столбцы.